# Runtime versions
PHP_VERSION=8.5-fpm
COMPOSER_VERSION=2
NGINX_VERSION=1.27-alpine
NODE_VERSION=20-alpine

# Ports
BACKEND_PORT=8080
FRONTEND_PORT=5173

# Symfony
APP_ENV=dev
APP_DEBUG=1

# Xdebug
XDEBUG_MODE=off
XDEBUG_START_WITH_REQUEST=trigger
XDEBUG_CLIENT_HOST=host.docker.internal
XDEBUG_CLIENT_PORT=9003
XDEBUG_DISCOVER_CLIENT_HOST=0
XDEBUG_IDEKEY=VSCODE

# Frontend
VITE_API_URL=http://localhost:8080
